/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	z-index: 1;
  background-position: center bottom;
}
.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 30%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.mu-text-field-line{
  background-color:#ffffff !important; ;
}
/*.mu-text-field-focus-line{*/
  /*background-color: #ffffff !important;*/
/*}*/
.mu-text-field-label{
  color: #f9f1e9 !important;
}
.mu-text-field-input{
  color: #6252cd!important;
  font-weight: bold !important;
}
.login-dom{
  width: 300px;
  height:300px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate3d(-50%,-50%,0);
  z-index: 1000;
  opacity: .5;
  padding: 20px;
}
.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	 .main-title {
		font-size: 4em;
	}
}
